<button class="btn btn-primary btn-sm btn-dashboard" routerLink="/dashboard">View Dashboard</button>

<div class="container">
    <div class="row">
        <div class="col-md-12">
    
            <div class="header" *ngIf="settings" [@grow]>
                <div class="logo clearfix">
                <a [routerLink]="['/']" *ngIf="settings.generalSettings">
                    <img [src]="settings.generalSettings.blogLogo" />
                </a>
                <h4 *ngIf="settings.showBlogName">
                    <a [routerLink]="['/']">{{settings.generalSettings.blogName}}</a>
                </h4>
                </div>
            </div>
    
            <hr>
    
            <div class="content">
                <router-outlet></router-outlet>                                
            </div>
    
        </div>
    </div>
</div>

