<div class="card-columns">
    <ng-container *ngIf="blogs">
    <ng-container *ngFor="let blog of blogs; let i = index">
    <div class="card" [ngClass]="{'p-3': i % 2}" *ngIf="blog.active !== 'false' ">
        <a [routerLink]="['/blog', blog.url_slug]" 
            class="card-img-top"
            *ngIf="blog.featured_image" >
            <img [src]="blog.featured_image"  />
        </a>
        <div class="card-body">
            <h4><a [routerLink]="['/blog', blog.url_slug]">{{ blog.title }}</a></h4>
            <em>{{ blog.created | date: 'MMM dd yyyy'}}</em>
            <hr>
            <div [innerHtml]="blog.excerpt + '...'"></div>
        </div>
    </div>
    </ng-container>
    </ng-container>
</div>