.ui-loading {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.ui-loading img {
    margin-top: -64px;
}
.dark {
    background:rgba(0,0,0,.5);
}
.light {
    background:rgba(255,255,255,.9);
}
.light-solid {
    background:#ffffff;
}
.blocker {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.text {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:20px;
    width:40%;
    text-align: center;
    margin:auto;
}
.blocker.dark .blocker-text {
    color:#ffffff;
}