<div class="row">
  <div class="col-md-12">
    <dashboard-title title="New Blog"></dashboard-title>
  </div>
</div>
<form action="" class="row" (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
  <div class="col-md-6 col-sm-12">
      <div class="form-group ">
        <label for="">Title</label>
        <input 
          type="text" 
          class="form-control" 
          [(ngModel)]="title" 
          name="title"
          required
          #titleRef="ngModel" />
          <div [hidden]="titleRef.valid || titleRef.pristine">
            Title Is Required
          </div>
      </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="content">Content</label>
      <textarea 
        cols="30" 
        rows="10" 
        class="form-control" 
        [(ngModel)]="content" 
        name="content"
        #contentRef="ngModel"
      ></textarea>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button class="btn btn-primary" [disabled]="!formRef.valid">Save</button>
  </div>
</form>