<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="options.show" [@fadeInOutCustom]>

      <div class="card-header">
          <button class="btn btn-secondary" (click)="goBackToBlogListPage($event)">Back</button>
          <h1 [dashboardTitle] title="{{options.pageTitle}}"></h1>
      </div>

      <div class="card-body">
        <form action="" class="row" (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
          <div class="col-md-12">
            <div class="form-group ">
              <label for="">Title</label>
              <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="page.title" 
                name="title"
                required
                #titleRef="ngModel" />
                <div [hidden]="titleRef.valid || titleRef.pristine">
                  Title Is Required
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group ">
              <label for="">Featured Image URL</label>
              <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="page.featured_image" 
                name="featured_image"                
                #featuredImageRef="ngModel" />                
            </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Status</label>
            <select 
              name="active" 
              class="form-control"
              [(ngModel)]="page.active" >
              <option [value]="true">Active</option>
              <option [value]="false">Inactive</option>
            </select>
          </div>
        </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="content">Content</label>
              <textarea 
                cols="30" 
                rows="10" 
                class="form-control" 
                [(ngModel)]="page.content" 
                name="content"
                #contentRef="ngModel"
              ></textarea>
            </div>
          </div>
          <div class="col-md-12">
              <div class="form-group">
                <label for="excerpt">Excerpt</label>
                <textarea 
                  cols="30" 
                  rows="3" 
                  class="form-control" 
                  [(ngModel)]="page.excerpt" 
                  name="excerpt"
                  #excerptRef="ngModel"
                ></textarea>
              </div>
            </div>
          <div class="col-md-12 text-right">
            <button 
              class="btn btn-primary" 
              [disabled]="!formRef.valid || options.submitDisabled">
              {{options.btnTitle}}
            </button>
            <button 
              class="btn btn-secondary" 
              [hidden]="!options.editMode" 
              (click)="deletePage($event)">
              Delete
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>