
<div class="row">

  <ng-container *ngIf=" blog && settings">
    <div [ngClass]="{'col-md-9': settings.useSidebar, 'col-md-12': !settings.useSidebar}" >

      <div class="card" *ngIf="blog" [@fadeInOutFast]>
        <div class="card-body">
          <div class="header">
            <h1>{{ blog.title }}</h1>
            <em>{{ blog.created | date:  'MMM dd yyyy'}}</em>
          </div>
          <img [src]="blog.featured_image" *ngIf="blog.featured_image" class="featured-image" />
          <div [innerHtml]="blog.content"></div>
        </div>
      </div>
      
    </div>
  </ng-container>

  <div class="col-md-3 sidebar" *ngIf="settings && settings.useSidebar" [@flyInFromRight]>
    
    <div class="card text-white bg-dark">
      
      <div class="card-body">
        <h3>Blogs</h3>
      </div>

      <ul *ngIf="blogList" class="blog-list">
        <ng-container *ngFor="let blogItem of blogList">
        <li [ngClass]="{'active': blogItem.url_slug === slug}">
          <a [routerLink]="['/blog', blogItem.url_slug]" class="text-white">{{ blogItem.title }}</a>
        </li>
        </ng-container>
      </ul>

      <div class="card-body">

        <nav *ngIf="pager">
          <ul class="pagination justify-content-center">
            <li class="page-item text-dark" 
            *ngFor="let p of pager.totalPages; let i = index" 
            [ngClass]="{'active': (i + 1) == selectedPage }" 
            [@fadeInOutFast]>
              <a class="page-link" (click)="paginate(i+1)" >{{i + 1}}</a>
            </li>
          </ul>
        </nav>
        
      </div>

    </div>
    
  </div>
</div>
