<div class="wrapper">
  <div class="page">
      <div *ngIf="noticeMessage" class="notice-message alert alert-success">
        <strong>{{ noticeMessage.msg }}</strong>
        <button type="button" class="close" (click)="onNoticeClose($event)" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <app-header></app-header>
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content">      
      <div class="content-wrapper">
        
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
