.wrapper {
    height: 100%;
}
.page {
    height: 100%;
    position: relative;
}

.sidebar {
    position: fixed;
    top:80px;
    height: 100%;
    background:#333333;
    width: 240px;
    height: 100%;
    z-index: 20;
}
.content {
    z-index: 10;
    padding-top:80px;
    margin-left:240px;
}
.content-wrapper {
    padding:20px;
}
