.dropdown-wrapper {
  position:relative;
  display: inline-block;
}
.dropdown-wrapper ul {
  display: none;
  position: absolute;
  top:100%;
  left:0;
  padding:0;
  margin:0;
  list-style: none;
  background:#cccccc;
  width:100%;
}
.dropdown-wrapper ul.visible {
  display:block;
}
.dropdown-wrapper ul li {
  border-bottom:1px solid #aaa;
}
.dropdown-wrapper ul li a{
  display:block;
  padding:10px;
  color:#ffffff;
  background:#333333;
}
.dropdown-wrapper ul li a:hover {
  text-decoration: none;
  color:#333333;
  background:#aaaaaa;
}