
<div class="row">
  <div class="col-md-12">
    <div class="card" [@fadeInOutCustom]>

        <div class="card-header">
            <h1 [dashboardTitle]></h1>
            <button class="btn btn-primary btn-sm" routerLink="new">New Blog</button>
        </div>

        <div class="card-body">
          <table *ngIf="blogs" class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Status</th>
              </tr>  
            </thead>
            <tbody>
              <tr *ngFor="let blog of blogs">
                <td><a routerLink="edit/{{blog.key}}">{{ blog.title }}</a></td>
                <td>{{ blog.created | date: 'yyyy-MM-dd hh:ss'}}</td>
                <td>{{ blog.updated | date: 'yyyy-MM-dd hh:ss' }}</td>
                <td>{{ blog.active ? 'Active' : 'Inactive'}}</td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="pager">
            <ul class="pagination">
              <li class="page-item" *ngFor="let p of pager.totalPages; let i = index" [ngClass]="{'active': (i + 1) == selectedPage }">
                <a class="page-link" [routerLink]="" [queryParams]="{page: i + 1}">{{i + 1}}</a>
              </li>
              
            </ul>
          </nav>

        </div>

    </div>
  </div>
</div>